<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Keeper | Admin Login </title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav>
        <p class="wbename">Uni-Card Enterprises</p>
    </nav>
    <form action="/logina" method="post" autocomplete="on">
        <label for="username" class="userloglabel"><b>Username</b></label>
        <input type="text" name="username" id="username" placeholder="Enter User Name" class="input">
        <label for="password" class="passloglabel"><b>Password</b></label>
        <input type="password" name="password" id="password" placeholder="Enter Password" class="input">
        <button class="but">Login</button>
    </form>
    script.

        // Check if the page is being refreshed
        if (performance.navigation.type === 1) {
        // Redirect to the desired page
        window.location.href = '/redirect';}
</body>

</html>