<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uni-Card | Stock</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <p class="wbename">Uni-Card Enterprises</p>
    </nav>
    <form action="/updatestock" method="get">
        <button id="employee" class="but">Update Stock</button>
    </form>
    
</body>
</html>