<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanidhya Sahu ðŸ™‚âœŒï¸">
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav>
        <p class="wbename">Uni-Card Enterprises</p>
    </nav>
    <form action="/logina" method="get">
        <button id="admin" class="but">Admin Login</button>
    </form>
    <form action="/logine" method="get">
        <button id="employee" class="but">Employee Login</button>
    </form>
    
</body>

</html>