<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uni-Card | Stock</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <script src="../node_modules/html5-qrcode/html5-qrcode.min.js"></script> -->
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="../static/updatestock.js"></script>
</head>

<body>
    <nav>
        <p class="wbename">Uni-Card Enterprises</p>
    </nav>
    <div id="reader"></div>
    <div>
        <p class="resultlabel note" id="resultlabel">Product name:</p>
        <div id="result"></div>

        <form action="#" method="post">
            <p class="notelabel note" id="notelabel">Enter details:</p>
            <input type="text" name="note" id="note" class="note" placeholder="Details of stock updation" required />
            <p class="notelabel note quantitylabel" id="quantitylabel">Quantity:</p>
            <!-- <input type="number" name="quantity" id="quantity" class="note input" placeholder="Quantity of stock" required /> -->
            <div class="quantity" id="quantitycont">
                <input type="number" min="-1000" max="100000" step="1" value="0">
            </div>
            <button id="update" class="but">Update Stock</button>
        </form>
        script.
            // Check if the page is being refreshed
            if (performance.navigation.type === 1) {
            // Redirect to the desired page
            window.location.href = '/redirect';
            }
            jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up"><b>+</b></div><div class="quantity-button quantity-down"><b>-</b></div></div>').insertAfter('.quantity input');
            jQuery('.quantity').each(function() {
              var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');
        
              btnUp.click(function() {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                  var newVal = oldValue;
                } else {
                  var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
              });
        
              btnDown.click(function() {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                  var newVal = oldValue;
                } else {
                  var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
              });
        
            });
</body>

</html>